---
import "../styles/global.css";

import Header from "../components/Header/Header.astro";
import Hero from "../components/Hero/Hero.astro";
import Seguros from "../components/Seguros/Seguros.astro";
import QuemSomos from "../components/QuemSomos/QuemSomos.astro";
import Protecao from "../components/Protecao/Protecao.astro";
import ConsorcioImobiliario from "../components/ConsorcioImobiliario/ConsorcioImobiliario.astro";
import WhatsApp from "../components/WhatsApp/WhatsApp.astro";
import RedesSociais from "../components/RedesSociais/RedesSociais.astro";
import Footer from "../components/Footer/Footer.astro";
import Dialog from "../components/Dialog/Dialog.astro";
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Crown Consórcios — Seu futuro começa aqui</title>
		<meta
			name="description"
			content="A Crown Consórcios transforma planejamento financeiro em conquistas reais. Consórcio imobiliário e automotivo em Campo Grande MS."
		/>
	</head>
	<body>
		<Header />
		<main>
			<Hero />
			<Seguros />
			<QuemSomos />
			<Protecao />
			<ConsorcioImobiliario />
			<WhatsApp />
			<RedesSociais />
		</main>
		<Footer />
		<Dialog />
	</body>
</html>
